<table border="1" class="dataframe table-stripped">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th></th>
      <th>Answer Relevance</th>
      <th>Context Relevance</th>
      <th>Groundedness</th>
      <th>latency</th>
      <th>total_cost</th>
    </tr>
    <tr>
      <th>app_name</th>
      <th>app_version</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>RAG Code Analysis Bot v4</th>
      <th>base</th>
      <td>0.666667</td>
      <td>0.5</td>
      <td>0.5</td>
      <td>0.861909</td>
      <td>0.003167</td>
    </tr>
  </tbody>
</table>